node_modules/
.vscode/
.idea/
build/
temp/
.env
coverage
tmp/*
!tmp/.gitkeep
ormconfig.json
dist
src/.DS_Store
        src/modules/.DS_Store
        src/modules/users/.DS_Store
        src/modules/users/infra/.DS_Store
        src/modules/users/infra/http/.DS_Store
